# This is a service definition so that we can access the external supabase db from other pods in the cluster
apiVersion: v1
kind: Service
metadata:
  name: supabase
  namespace: bb
spec:
  ports:
    - name: http
      port: 8000
      targetPort: 8000
    - name: https
      port: 8443
      targetPort: 8443
