apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
spec:
  replicas: {{ .Values.app.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
    spec:
      containers:
      - name: payment-service
        image: {{ .Values.app.image }}:{{ .Values.app.tag }}
        ports:
        - containerPort: 8002
        resources:
          requests:
            memory: {{ .Values.app.resources.requests.memory | default "60Mi" }}
            cpu: {{ .Values.app.resources.requests.cpu | default "4m" }}
          limits:
            memory: {{ .Values.app.resources.limits.memory | default "120Mi" }}
            cpu: {{ .Values.app.resources.limits.cpu | default "10m" }}
        env:
        - name: SUPABASE_URL
          value: "http://supabase:8000"
        - name: SUPABASE_KEY
          valueFrom:
            secretKeyRef:
              name: supabase-secret
              key: SUPABASE_KEY
        - name: PRODUCTS_SERVICE_URL
          value: "http://products-service:8001"
        - name: KEYCLOAK_URL
          value: "https://keycloak-dev.ltu-m7011e-10.se"
        - name: KEYCLOAK_REALM
          value: "BBosch"
        livenessProbe:
          httpGet:
            path: /health
            port: 8002
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8002
          initialDelaySeconds: 5
          periodSeconds: 5
